
<!--
  WAI-ARIA recommends several strategies for listing errors.
  See https://www.w3.org/WAI/tutorials/forms/notifications/#listing-errors
-->
<form [formGroup]="catForm" (ngSubmit)="onSubmit(catForm)">

  <!-- TODO: Add `role="alert"` to this div so it is spoken aloud when errors are triggered. -->
  <div *ngIf="getErrorCount() > 0 && isSubmitDirty">
    <h3>There are {{getErrorCount()}} errors in this form</h3>
    <ul>
      <li *ngIf="catForm.controls['name'].hasError('required')">
        <a [routerLink]="['.']" jumpLink="name" id="name-error">
          The <b>name</b> field is empty; it is a required field and must be filled in.
        </a>
      </li>
      <li *ngIf="catForm.controls['breed'].hasError('required')">
        <a [routerLink]="['.']" jumpLink="breed" id="breed-error">
          The <b>breed</b> field is empty; it is a required field and must be filled in.
        </a>
      </li>
      <li *ngIf="catForm.controls['description'].hasError('required')">
        <a [routerLink]="['.']" jumpLink="description" id="description-error">
          The <b>description</b> field is empty; it is a required field and must be filled in.
        </a>
      </li>
    </ul>
  </div>

  <!-- TODO: Give all inputs a `label` -->
  <!-- TODO: add `required` attribute to name, breed, and description inputs -->
  <!-- TODO: add `aria-invalid="true"` if there's a validation error for name, breed, and description inputs. -->
  <ul>
    <li>
      Cat Name<br>
      <input type="text" placeholder="Whiskers"
             formControlName="name" id="name"
             [attr.aria-describedby]="getInputDescribedBy('name')">
    </li>
    <li>
      Cat Breed<br>
      <input type="text" placeholder="Persian Cat"
             formControlName="breed" id="breed"
             [attr.aria-describedby]="getInputDescribedBy('breed')">
    </li>
    <li>
      URL to a picture of your cat<br>
      <input type="url" placeholder="http://foo.bar/bat.jpg"
             formControlName="imgUrl" id="img-url">
    </li>
    <li>
      Attribution<br>
      <textarea placeholder="Miško Hevery, Twitter: @mhevery"
                formControlName="imgCredit" id="img-credit"></textarea>
    </li>
    <li>
      Description<br>
      <textarea placeholder="She's soft and sweet"
                formControlName="description" id="description"
                [attr.aria-describedby]="getInputDescribedBy('description')"></textarea>
    </li>
  </ul>

  <button type="submit" class="button">Save</button>
</form>

