
<nav aria-label="Mobile" class="mobile-nav">
  <button aria-label="Open navigation" class="menu-button"
          (click)="isNavShown = !isNavShown"
          [attr.aria-expanded]="isNavShown">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
    </svg>
  </button>
</nav>

<header>
  <span class="logo">Cat-alog</span>
</header>


<!-- Label site wide navigation with aria-label.
Don't include "Navigation" or it will read "navigation" twice. -->
<nav [attr.aria-expanded]="isNavShown" aria-label="Site">
  <ul class="main-level">
    <li aria-level="1">
      <a routerLink="/home" class="nav-item" routerLinkActive="active"
         [attr.aria-describedby]="getDescribedBy(home)" #home>Home</a>
    </li>
    <li aria-level="1">
      <button
        (click)="isCatalogShown = !isCatalogShown"
        [attr.aria-expanded]="isCatalogShown"
        aria-controls="catalog-nested-nav"
        class="nav-item">Cats</button>
      <ul class="nested" [hidden]="!isCatalogShown" id="catalog-nested-nav">
        <li aria-level="2">
          <a routerLink="/catalog/browse" class="nav-item" routerLinkActive="active"
             [attr.aria-describedby]="getDescribedBy(browse)" #browse>Browse</a>
        </li>
        <li aria-level="2">
          <a routerLink="/catalog/search" class="nav-item" routerLinkActive="active"
             [attr.aria-describedby]="getDescribedBy(search)" #search>Search</a>
        </li>
        <li aria-level="2">
          <a routerLink="/catalog/add" class="nav-item" routerLinkActive="active"
             [attr.aria-describedby]="getDescribedBy(add)" #add>Add</a>
        </li>
      </ul>
    </li>
    <li aria-level="1">
      <a routerLink="/about" class="nav-item" routerLinkActive="active"
         [attr.aria-describedby]="getDescribedBy(about)" #about>About</a>
    </li>
  </ul>
  <div id="current-page" style="display: none;">Current page</div>
</nav>
